.subscriptions{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    h1 {
        background: linear-gradient(45deg, #ac9ef3, #7060e7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    
    .plans{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @media (max-width: 1024px) {
            flex-direction: column;
        }
        h3 {
            color: #7060e7;
        }
        gap: 20px;
        .plan1{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            gap: 20px;
            width: 30%;
            height: 90%;
            border: 3px solid #A594F9;
            border-radius: 10px;
            @media (max-width: 1024px) {
                margin-top: 20px;
                width: 80%;
            }

            .list{
                flex:2;
                display: flex;
                flex-direction: column;
                gap: 10px;
                color: #7060e7;
                font-size: 18px;
                @media (max-width: 1024px) {
                    font-size: 12px;
                }
            }

            .buttonwrapper{
                display: flex;
                gap: 20px;
                margin-bottom: 20px;
                button{
                    background-color: #A594F9;
                    color: white;
                    border: none;
                    border-radius: 50px;
                    padding: 10px 20px;
                    font-size: 16px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover{
                        background-color: #7060e7;
                        scale: 1.05;
                    }
                    @media (max-width: 1024px) {
                        padding: 5px 10px;
                        font-size: 12px;
                    }
                }
            }

            
        }
        .plan2{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            width: 30%;
            height: 90%;
            border: 3px solid #A594F9;
            border-radius: 10px;
            @media (max-width: 1024px) {
                width: 80%;
            }
        }
        .plan3{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            width: 30%;
            height: 90%;
            border: 3px solid #A594F9;
            border-radius: 10px;
            @media (max-width: 1024px) {
                margin-bottom: 10px;
                width: 80%;
            }
        }
    }
}