.homepage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .imgcontainer{
        display: flex;
        align-items: center;
        justify-content:first baseline;
        gap: 100px;
        @media screen and (max-width: 615px) {
            flex-direction: column;
            gap: 0;
        }
        .leftimage{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
            @media screen and (max-width: 615px) {
                flex-direction: row;
                margin-top: 5px;
            }
            .astrolog{
                img{
                    width: 200px;
                    opacity: 50%;
                    border-radius: 20px;
                    animation: sway 4s ease-in-out infinite; // Yeni eklenen satır
                    @media screen and (max-width: 615px) {
                        width: 90px;
                    }
                }
            }

            .astrology{
                img{
                    width: 200px;
                    opacity: 50%;
                    border-radius: 20px;
                    animation: rotate 20s linear infinite; // Yeni eklenen satır
                    @media screen and (max-width: 615px) {
                        width: 85px;
                    }
                }
            }
                
        }
        .righttext{
            display: flex;
            flex-direction: column;
            flex: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            margin-bottom: 20px;
            margin-right: 10px;
            .aistrolog{
                font-size: 48px;
                margin-top: 15px;
                background: linear-gradient(45deg, #ac9ef3, #7060e7);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
            h1{
                text-align: center;
                color: #8A7CF8;
                max-width: 1000px;
                font-size: 28px;
            }
            h3{
                text-align: center;
                color: #5d4dd6;
                margin-left: 10px;
            }

            button {
                overflow: hidden;
                background: linear-gradient(45deg, #A594F9, #8A7CF8);
                border: none;
                padding: 20px;
                border-radius: 50px;
                cursor: pointer;
                color: white;
                font-weight: bold;
            }
        }
    }

    .privacy{
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
        .text{
            border-right: 1px solid rgb(145, 144, 144);
            padding-right: 10px;
        }
        a{
            text-decoration: none;   

            color: rgb(145, 144, 144);
        }
        color: rgb(145, 144, 144);
        display: flex;
        align-items: end;
        justify-content: center;
        margin: 10px;
        padding-right: 10px;
        cursor: pointer;
        
    }
}

// Dosyanın sonuna ekleyin
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// Dosyanın sonuna ekleyin
@keyframes sway {
    0%, 100% { transform: rotate(-7.5deg); }
    50% { transform: rotate(7.5deg); }
}