.aipreview{
    
    width: 600px;
    height: 200px;
    background-color: rgb(13, 13, 56);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; // değiştirildi: center'dan flex-start'a
    
    overflow-y: auto; // eklendi: içerik taşarsa kaydırma çubuğu ekler
    border-radius: 20px;
    flex-direction: column;
    overflow: hidden;

    @media screen and (max-width: 615px) {
        width: 300px;
        height: 200px;
    }
    
    .header{
        width: 600px;
        background-color: rgb(95, 95, 95);
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 615px) {
            width: 300px;
            height: 20px;
        }

        h6{
            font-weight: bold;
            font-size: 12px;
            
            
        }
    }
    .messagewrapper{
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            background-color: transparent;
            font-size: 16px;
            border: none;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
            color: rgb(174, 151, 221);
        }

        img{
            width: 15px;
            height: 15px;
            filter: brightness(0) invert(0.7);
            cursor: pointer;
            margin-top: 3px;
            margin-right: 5px;
        }
        @media screen and (max-width: 615px) {
            
            margin: 10px;
        }
        .message{
            color: white;
            font-size: 14px;
            text-align: right;
            padding-right: 20px; // eklendi: üstten biraz boşluk bırakmak için
    padding-left: 20px; // eklendi: üstten biraz boşluk bırakmak için
    margin-top: 10px;
    @media screen and (max-width: 615px) {
        font-size: 9px;
    }
        }
    }

    .messageaiwrapper{
        align-self: flex-start;
        .messageai{
            color: white;
            font-size: 14px;
            text-align: left;
            padding-right: 20px; // eklendi: üstten biraz boşluk bırakmak için
    padding-left: 20px; // eklendi: üstten biraz boşluk bırakmak için
    @media screen and (max-width: 615px) {
        font-size: 9px;
    }
        }
    }
}